DOTOB_PUBLIC_HOST=example.com
DOTOB_PUBLIC_URL=https://example.com
DOTOB_ACME_EMAIL=admin@example.com

DOTOB_ADMIN_IMAGE=ghcr.io/ddai86/dotob-lo-admin:latest

APP_KEY=REPLACE_WITH_RANDOM_32+
DB_PASSWORD=REPLACE_WITH_RANDOM_24+
MYSQL_ROOT_PASSWORD=REPLACE_WITH_RANDOM_24+

DOTOB_APPS_GATEWAY_AUTH_USERS=

